name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build site
        run: |
          mkdir dist
          cp index.html dist/
          cp hh.html dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: dist
